<?xml version="1.0" encoding="UTF-8"?>
<!-- - - Licensed under the Apache License, Version 2.0 (the "License");
        - you may not use this file except in compliance with the License. - You
        may obtain a copy of the License at - - http://www.apache.org/licenses/LICENSE-2.0
        - - Unless required by applicable law or agreed to in writing, software -
        distributed under the License is distributed on an "AS IS" BASIS, - WITHOUT
        WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied. - See the
        License for the specific language governing permissions and - limitations
        under the License. -->
<!DOCTYPE mycat:server SYSTEM "server.dtd">
<mycat:server xmlns:mycat="http://io.mycat/">
    <system>
        <!--默认查询条数-->
        <property name="defaultMaxLimt">100</property>
        <!--管理端口-->
        <property name="managerPort">9066</property>
        <!--最大解析sql的大小-->
        <property name="maxPacketSize">104857600</property>
        <property name="serverPort">3306</property>
        <property name="useGlobleTableCheck">0</property>
        <property name="userSqlStat">0</property>
        <property name="bindIp">0.0.0.0</property>
        <property name="charset">utf8</property>
        <property name="frontWriteQueueSize">2048</property>
        <!--这个单位是毫秒 sql超时时间-->
        <property name="idleTimeOut">1800000</property>
        <property name="sqlExecuteTimeout"></property>
    </system>
    <system name="root" defaultAccount="true">
        <property name="password">123456</property>
        <property name="schemas">imooc</property>
    </system>

</mycat:server>